{%extends 'reportes/jobs_bck.html'%}

{%block title%}Cumplimiento ejecución de copias{%endblock title%}

{%block links%}
<li class="nav-item active">
    <a class="nav-link collapsed" href="" style="color: black;">
        <i class="fas fa-calendar-check" style="color: black; font-size: 0.8rem;"></i>
        <span>Ejecución bck programados</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="/reportes/jobs_bck/" style="color: black;">
        <i class="fas fa-clipboard-check" style="color: black;"></i>
        <span>Resultado jobs de backup</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/reportes/archivos_bak/">
        <i class="fas fa-copy" style="color: black"></i>
        <span style="color: black">Archivos .bak generados</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/reportes/estado_db/" style="color: black" aria-expanded="true"
        aria-controls="collapseUtilities">
        <i class="fas fa-database" style="color: black"></i>
        <span>Estado de las B.D.</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/reportes/ultimos_bck/">
        <i class="fas fa-clone" style="color: black;"></i>
        <span style="color: black">Último backup de cada B.D.</span>
    </a>
</li>
{%endblock links%}



{%block content%}
<div class="container-fluid">
    <!-- Encabezado de tabla -->
    <h1 class="h3 mb-2 text-gray-800" style="text-align: center">Cumplimiento de backups programados</h1>
    <p class="mb-4"> Esta función le permite verificar cuantas copias de seguridad se generaron efectivamente a diferentes bases de datos en cada instancia
        y comparar contra lo esperado según la programación para esta fecha, además le proporciona un mensaje de validación
        para una visualización más simple en caso de novedad.</p>
        <p>*Puede generar un archivo de tipo hoja de cálculo con esta información al final de la tabla.</p>
    <!-- Tabla de estados DB -->
    {% if resultadosCump %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Resultados para el día: {{resultadosCump.0.0}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th>Server IP</th>
                            <th>Server Name</th>
                            <th>Effective Backups</th>
                            <th>Scheduled Backups</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="text-center">
                            <th>Server IP</th>
                            <th>Server Name</th>
                            <th>Effective Backups</th>
                            <th>Scheduled Backups</th>
                            <th>Message</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for resultado in resultadosCump %}
                        <tr class="text-center" style="font-size: smaller;">
                            <td class="text-center">{{resultado.1}}</td>
                            <td class="text-center">{{resultado.2}}</td>
                            <td class="text-center">{{resultado.3}}</td>
                            <td class="text-center">{{resultado.4}}</td>
                            {% if resultado.5 == 'SUCCES' %}
                            <td class="text-center" style="color: #51B83A;" >{{resultado.5}}</td>
                            {% elif resultado.5 == 'WARNING' %}
                            <td class="text-center" style="color: #DCDF0D;" >{{resultado.5}}</td>
                            {% else %}
                            <td class="text-center" style="color: #DF170D;" >{{resultado.5}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </br>
            <form action="{% url 'reportes:reporte_cumplimiento' %}" method="get" autocomplete="off">
                <div class="row">
                    <div class="col-3"></div>
                    <label for="datepicker2">Select Date:</label>
                    <div class="col-2 align-items-center">
                        <input type="text" name="fecha" onkeydown="return false" class="form-control"
                            id="datepicker2"></input>
                    </div>
                    <button type="submit" class="col-2 form-control">
                        <i class="fas fa-file-export ">
                            <span style="font-size: small;">Export to Spreadsheet</span>
                        </i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Resultados para la fecha + {{resultado.0}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th>Server IP</th>
                            <th>Server Name</th>
                            <th>Effective Backups</th>
                            <th>Scheduled Backups</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="text-center">
                            <th>Server IP</th>
                            <th>Server Name</th>
                            <th>Effective Backups</th>
                            <th>Scheduled Backups</th>
                            <th>Message</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for resultado in resultadosCump %}
                        <tr class="text-center" style="font-size: smaller;">
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h1>No hay datos...</h1>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}